





  <div style="text-align:center">
   <!-- <form [formGroup]="excelImportForm" (ngSubmit)="onSubmit(excelImportForm.value)">
    <input type="file"  formControlName="fileNameCtrl" id="selectFile" name="selectFile">
    <section id="testSubmitBlock">
      <div class="container infocontainer" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
          <button mat-flat-button color="primary" class="phrmcybtn"  (click)="onSubmit()"> Upload</button>
      </div>
  </section>
    </form> -->
    <h5 class="form_block_title">Patient Excel File Import</h5>
    <div class="upload-btn-wrapper">
        <button class="btn">Upload a file</button>
        <input type="file" name="employeefile" id="employeefile" (change)="upload($event.target.files)" />
      </div>

    
     <br /> <br />
     <div *ngIf="isLoader" style="display: inline-block">
      <mat-spinner [diameter]="70"></mat-spinner>
      <h3>Lodaing.....</h3>
     </div>
    


    
   <!--<ng-container *ngIf="uploadSuccess">
      Upload Successful
    </ng-container> --> 

  </div> 

  



  