<!--<app-header></app-header>
<app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
<section class="main-container" [ngClass]="{collapsed: collapedSideBar}">
    <router-outlet></router-outlet>
</section>-->


<mat-sidenav-container class="sidenav-container" *ngIf="isAdmin">
    
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar class="primarycolor" >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink='/panel/dashboard'><mat-icon>dashboard</mat-icon> Dashboard</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>queue</mat-icon> Registration</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>playlist_add_check</mat-icon> Todays List</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>new_releases</mat-icon> Medicine</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>link</mat-icon> Import Medicine</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>notification_important</mat-icon> Doctors Visit</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>memory</mat-icon> Todays Report</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>compare</mat-icon> Stock Report</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>notification_important</mat-icon> Other Report</a>
      <a mat-list-item routerLink="/panel/forms"><mat-icon>domain</mat-icon> Help</a>
      
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="primarycolor">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      

      <span class="fill-remaining-space">
         
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
         
         
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </span>
      <span class="fill-remaining-space">Application Title</span>
    
       <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>dashboard</mat-icon>
        </button>



    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<mat-sidenav-container class="sidenav-container" *ngIf="isNotAdmin">
  
     
      <mat-sidenav-content>
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
          <mat-toolbar class="top_header">
              
                <div fxFlex="50%">
                  <img src="assets/logo.png" />
                </div>
                <div fxFlex="50%" class="datetime">
                  
                  <h3 class="time">{{ time | date:'hh:mm:ss aa'}}</h3>
                  <h3 class="date">{{ time | date:'dd MMM, yyyy'}}</h3>
                </div>
              
          </mat-toolbar>
        </div>


        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
            <mat-toolbar class="primarycolor" >
                <mat-icon>home</mat-icon>
                <div fxFlex="50%">
                   
                    <p class="welcome_title">Welcome {{username}} </p>
                   

                    <span class="fill-remaining-space">
                        <mat-menu #menu="matMenu" [overlapTrigger]="false">
                          <button mat-menu-item>
                            <mat-icon>home</mat-icon>
                            <span>Home</span>
                          </button>
                         <button mat-menu-item (click)="Logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Logout</span>
                          </button>
                        </mat-menu>
                      </span>

                   
                </div>
                <div fxFlex="50%" >
                    <span class="estate_title">Powai </span>
                    <button mat-icon-button [matMenuTriggerFor]="menu" style="float: right;" >
                        <mat-icon>person_pin</mat-icon>
                      </button>
                </div>
                
            </mat-toolbar>
        </div>
      


        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  
